<div class="container" style="margin:70px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar la novedad</h4>
            <form method="post" action="/admin/novedades/modificar" enctype="multipart/form-data">
                <input type="hidden" value="{{novedad.id}}" name="id">
                <div class="form-group">
                    <input type="text" placeholder="Titulo" value="{{novedad.titulo}}" class="form-control"
                        name="titulo">
                </div>
                <div class="form-group">
                    <textarea placeholder="Subtitulo" class="form-control"
                        name="subtitulo">{{novedad.subtitulo}}</textarea>
                </div>
                <div class="form-group">
                    <p>
                        <label>Imagen:<input type="file" name="imagen" id="imagen" /></label>
                    </p>
                    <p>
                        <label><input type="checkbox" name="img_delete" id="img_delete" value="1">Eliminar Imagen
                            actual?</label>
                        <input type="hidden" name="img_original" value="{{novedad.img_id}}">
                    </p>
                </div>
                <div class="form-group">
                    <textarea placeholder="Cuerpo" class="form-control" name="cuerpo">{{novedad.cuerpo}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Modificar</button>
            </form>
            {{#if error}}
            <h5>{{message}}</h5>
            {{/if}}
        </div>
    </div>

</div>